# dev
Cython
GitPython
sphinx
nose
rednose
mock
tox
# code analysis
pyflakes
pylint
pep8
autopep8
radon
coverage
pipdeptree
# profiling
line-profiler
vprof
snakeviz
pympler

rope
jedi
nbconvert
pickleshare
pygments
psutil
pyzmq
ipython

# pydot
pydot

