# dev
Cython
GitPython
sphinx
nose
rednose
tox
# code analysis
pyflakes
pylint
pep8
radon
coverage
pipdeptree
# profiling
line-profiler
vprof
snakeviz
pympler

# spyder
qtconsole
qtawesome
rope
jedi
nbconvert
pickleshare
pygments
psutil
pyzmq
ipython
spyder

# pydot
pyparsing
http://pydot.googlecode.com/files/pydot-1.0.28.tar.gz

