# dev
Cython
GitPython
sphinx
nose
rednose
mock
tox
# code analysis
pyflakes
pylint
flake8
pep8
autopep8
pep257
radon
coverage
pipdeptree
# profiling
line-profiler
vprof
snakeviz
pympler

rope
jedi
nbconvert
pickleshare
pygments
psutil
pyzmq
ipython

# pydot
pydot

